In [1]:
#import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
from urllib.parse import quote_plus
from sqlalchemy import create_engine, event,text
%matplotlib inline
print(sns.get_dataset_names())
sns.set_theme() #Apply the default theme

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [2]:
f = open ('database_information.json', "r")
qq = json.loads(f.read())
f.close()
ini_cnt_str ='Driver={driver_str};Server=tcp:hkazdevsqld3vnreserch.database.windows.net,1433;database={database};Uid={username};Pwd={password};Encrypt=yes;Authentication=ActiveDirectoryPassword;Connection Timeout=30;'.format(**qq)
quoted = quote_plus(ini_cnt_str)
cnt_str = 'mssql+pyodbc:///?odbc_connect={}'.format(quoted)
engine = create_engine(cnt_str)

#Test Connection
try:
    conn = engine.connect()
    result = conn.execute(text("SELECT 1"))
    print("CONNECTION SUCESSFUL!")
except Exception as e:
    print("CONNECTION FAILED:",str(e))

CONNECTION SUCESSFUL!

In [3]:
dim_table_name = "Main_Sector_Project"
fact_table_name = "Office"
fact = pd.read_sql(f"select * from dw.{fact_table_name}",engine)
dim = pd.read_sql(f"select * from dw.Main_Sector_Project",engine)

In [4]:
fact.head()

,Surrogate_ID,Date_Key,Project_key,Form,Project_Status,Land_Area,Tenure,Tenure_Expire_Year,Remaining_Years,Guarantee_Return,...,Min_GFA,Max_GFA,Avg_GFA,LA_Primary_Price,GFA_Primary_Price,UNIT_Primary_Price,LA_Secondary_Price,GFA_Secondary_Price,UNIT_Secondary_Price,Quarterly_Sales_New_Supply
0,160155,20211231,33836,Present,Off,3.6,None,None,None,None,...,None,None,None,NaN,None,NaN,1328.0,None,168878.0,NaN
1,160154,20211231,33835,Present,Off,9.7,None,None,None,None,...,None,None,None,NaN,None,NaN,1126.0,None,114186.0,NaN
2,160153,20211231,33834,Present,Off,82.0,None,None,None,None,...,None,None,None,NaN,None,NaN,2760.0,None,276022.0,NaN
3,160152,20211231,33833,Present,Off,8.2,None,None,None,None,...,None,None,None,1251.0,None,118861.0,1395.0,None,125518.0,NaN
4,160151,20211231,33832,Present,Off,18.0,None,None,None,None,...,None,None,None,1109.0,None,110937.0,1198.0,None,116801.0,NaN

In [5]:
project.head()

,Project_Key,Sector,Project_Name,Sub_Project_Name,Latitude,Longtitude,Project_Grade,Project_Type,Current_Status,Project_Phase,...,Launch_Year,Complete_Quarter,Complete_Year,Sold_Out_Quarter,Sold_Out_Year,Number_Of_Floors,Date_Key,File_Date,Import_Date,Brand
0,5137,APARTMENT,Dinh Cong Nua,Dinh Cong Nua,20.987496,105.830805,C,Commercial Apartment,Off,NaN,...,None,NaN,None,NaN,None,NaN,2021-09-30,2021-12-01,2021-12-01,None
1,5138,APARTMENT,North Linh Dam Dwelling,North Linh Dam Dwelling,20.971477,105.827585,C,Commercial Apartment,Off,NaN,...,None,NaN,None,NaN,None,NaN,2021-09-30,2021-12-01,2021-12-01,None
2,5139,APARTMENT,Linh Dam Peninsula Area,Linh Dam Peninsula Area,20.964668,105.831537,C,Commercial Apartment,Off,NaN,...,None,NaN,None,NaN,None,NaN,2021-09-30,2021-12-01,2021-12-01,None
3,5140,APARTMENT,Dai Kim - Dinh Cong Nua,Dai Kim - Dinh Cong Nua,20.977428,105.829141,C,Commercial Apartment,Off,NaN,...,None,NaN,None,NaN,None,NaN,2021-09-30,2021-12-01,2021-12-01,None
4,5141,APARTMENT,A6 Giang Vo,A6 Giang Vo,21.030038,105.819447,B,Commercial Apartment,Off,NaN,...,None,NaN,None,NaN,None,NaN,2021-09-30,2021-12-01,2021-12-01,None

In [6]:
# Thực hiện truy vấn SQL bằng Pandas
df = pd.merge(vlth[vlth['Date_Key']=='20191231'], project[project['Sector'] == 'VLTH'], left_on='Project_key', right_on='Project_Key', how='left')



result = df['Project_Status'].value_counts().reset_index()

# Đổi tên các cột
result.columns = ['Project_Status', 'Count']

# In kết quả
result

Empty DataFrame
Columns: [Project_Status, Count]
Index: []